body {
    font-family: 'Open Sans', sans-serif;
}

#bs-example-navbar-collapse-1 {
    margin-right: 60px;
}

#nav_bar_brand {
    margin-left: 30px;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container {

}

#home_div {
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url("../img/web_pic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
}

#home_header {
    position: relative;
    color: white;
    top: 350px;
    font-size: 400%;

}

#home_logo {
    position: relative;
    width: 17%;
    top: 30px;
    left: 81%;
}

#first_hr {
    margin: 0;
}

#second_hr {
    margin: 0;
}

#third_hr {
    margin: 0;
}

#about_div {
    position: relative;
    width: 100%;
    margin-bottom: 175px;
}

#about_paragraph {
    position: relative;
    width: 50%;
    text-align: center;
    font-size: 150%;
    left: 25%;
    top: 90px;
}

#education_div {
    position: relative;
    width: 100%;
    margin-bottom: 175px;
    height: 500px;
}

#education_list {
    font-size: 150%;
    list-style: square;
}

#portfolio_div {
    position: relative;
    width: 100%;
    /*height: 700px;*/
    margin-bottom: 100px;
}

#carousel-example-generic {
    width: 50%;
    margin-left: 26%;
    top: 90px;
}

.header {
    position: relative;
    top: 45px;
    text-align: center;
    font-size: 350%;
}

#contact_div {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoInstagram:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoInstagram:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.anchor_background {
    background-color: #D3D3D3;
}





























/*#home_div {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 737px;*/
    /*background: url("../img/web_pic.jpg") no-repeat;*/
    /*background-size: cover;*/
/*}*/

/*#rv_logo {*/
    /*position: relative;*/
    /*top: 90px;*/
    /*left: 33px;*/
    /*width: 23%;*/
/*}*/

/*#header_size {*/
    /*font-size: 350%;*/
/*}*/

/*#first_hr {*/
    /*margin: 0;*/
/*}*/

/*#second_hr {*/
    /*margin: 0;*/
/*}*/

/*#about_me {*/
    /*font-size: 350%;*/
    /*top: 100px;*/
    /*text-align: center;*/
/*}*/

/*#about_paragraph {*/
    /*font-size: 160%;*/
    /*margin-top: 60px;*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/

/*#about_me_div {*/
    /*margin-top: 60px;*/
    /*position: relative;*/
    /*height: 630px;*/
    /*width: 64%;*/
    /*margin-left: 18%;*/
    /*margin-right: 18%;*/
    /*text-align: center;*/
/*}*/

/*#portfolio_div {*/
    /*margin-top: 60px;*/
    /*position: relative;*/
    /*height: 657px;*/
    /*width: 64%;*/
    /*margin-left: 18%;*/
    /*margin-right: 18%;*/
    /*text-align: center;*/
/*}*/

/*#portfolio_header {*/
    /*font-size: 350%;*/
/*}*/

/*#contact_div {*/
    /*margin-top: 60px;*/
    /*position: relative;*/
    /*width: 64%;*/
    /*margin-left: 18%;*/
    /*margin-right: 18%;*/
    /*text-align: center;*/
    /*height: 237px;*/
/*}*/

/*#contact_header {*/

/*}*/

/*#myCarousel {*/
    /*position: relative;*/
    /*top: 20px;*/
    /*width: 80%;*/
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
/*}*/